<h3>Welcome to Kubernetes example</h3>
<form action="/submit" method="POST">
	<input type="text" name="item[name]" placeholder="Enter item name" />
	<input type="submit" value="Submit" />
</form>
<a href="/items">view items</a>
